/*====================================================================
- Steel Pink #BE2EDD
====================================================================*/

:root {
    --theme-primary: #BE2EDD;
    --theme-primary-rgb: 189, 46, 221, 0.9;
}

:root .dark-theme {
    --theme-primary: #BE2EDD;
    --theme-primary-rgb: 189, 46, 221, 0.9;
}