/*====================================================================
- Sky Blue #14C5FD
====================================================================*/

:root {
    --theme-primary: #14C5FD;
    --theme-primary-rgb: 20, 199, 253, 0.9;
}

:root .dark-theme {
    --theme-primary: #14C5FD;
    --theme-primary-rgb: 20, 199, 253, 0.9;
}