/*====================================================================
- Soft Blue #778BEB
====================================================================*/

:root {
    --theme-primary: #778BEB;
    --theme-primary-rgb: 119, 138, 235, 0.9;
}

:root .dark-theme {
    --theme-primary: #778BEB;
    --theme-primary-rgb: 119, 138, 235, 0.9;
}