/*====================================================================
- Gray #C0C0C0
====================================================================*/

:root {
    --theme-primary: #C0C0C0;
    --theme-primary-rgb: 192, 192, 192, 0.9;
}

:root .dark-theme {
    --theme-primary: #C0C0C0;
    --theme-primary-rgb: 192, 192, 192, 0.9;
}