/*====================================================================
- Gray #28E98C
====================================================================*/

:root {
    --theme-primary: #28E98C;
    --theme-primary-rgb: 40, 233, 140, 0.9;
}

:root .dark-theme {
    --theme-primary: #28E98C;
    --theme-primary-rgb: 40, 233, 140, 0.9;
}