/*====================================================================
- Yellow #FFC312
====================================================================*/

:root {
    --theme-primary: #FFC312;
    --theme-primary-rgb: 255, 196, 18, 0.9;
}

:root .dark-theme {
    --theme-primary: #FFC312;
    --theme-primary-rgb: 255, 196, 18, 0.9;
}