/*====================================================================
- Orange #FE6F1D
====================================================================*/

:root {
    --theme-primary: #FE6F1D;
    --theme-primary-rgb: 254, 111, 29, 0.9;
}

:root .dark-theme {
    --theme-primary: #FE6F1D;
    --theme-primary-rgb: 254, 111, 29, 0.9;
}