/*====================================================================
- Pink #FF99CC
====================================================================*/

:root {
    --theme-primary: #FF99CC;
    --theme-primary-rgb: 255, 153, 204, 0.9;
}

:root .dark-theme {
    --theme-primary: #FF99CC;
    --theme-primary-rgb: 255, 153, 204, 0.9;
}