/*====================================================================
- Fluorescent Red #FF5252
====================================================================*/

:root {
    --theme-primary: #FF5252;
    --theme-primary-rgb: 255, 82, 82, 0.9;
}

:root .dark-theme {
    --theme-primary: #FF5252;
    --theme-primary-rgb: 255, 82, 82, 0.9;
}