@media only screen and (min-width: 1199px) and (max-width: 1400px) {
    .purchase-now .col-12>p {
        padding: 0 20px;
    }
}

@media screen and (max-width:992px) {
    .home .home-content .col-12 p:is(.text-6xl) {
        font-size: 36px;
    }

    .demo-site .title:is(.pb-80) {
        padding-bottom: 60px;
    }

    .purchase-now .col-12:is(.pt-80) {
        padding-top: 60px;
    }

    .purchase-now .col-12:is(.pb-80) {
        padding-bottom: 60px;
    }

    .purchase-now .col-12>p {
        padding: 0 20px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .purchase-now::before {
        top: -324px;
    }
}

@media screen and (max-width:767px) {
    .home .home-content .col-12 p:is(.text-6xl) {
        font-size: 20px;
    }

    .demo-site .title:is(.pb-80) {
        padding-bottom: 48px;
    }

    .purchase-now .col-12>p {
        padding: 0;
        font-size: 28px;
    }

    .purchase-now::before {
        top: -332px;
    }
}